<%# #profiles/friends_content %>

  <div>
    <%= render "profiles/follower_count", user: current_user %>
  </div>
  <div>
    <% if current_user.friends.any?%>
      <div>
        <% current_user.friends.each do |friend| %>
          <% if friend.name != current_user.name %>
            <%= link_to profile_path(friend), data: { turbo_frame: "_top" } do %>    
              <div class="flex p-4 m-4 rounded-md shadow-md hover:shadow-xl">
                <%= image_tag friend.avatar_thumbnail || "avatar.svg",
              class: "w-12 h-12 rounded-full shrink-0" %>
                  <div class="m-2 flex flex-col w-full">
                    <div class="font-bold text-s"><%= friend.name %></div>
                    <div class="text-xs font-thin">"<%= friend.bio %>"</div>
                  </div>
              </div>
            <% end %>
              
            <% end %>
          <% end %> 
      <% end %>
      </div>

</div>
<div><h3>friend requests:</h3></div>
  <% if current_user.pending.any? %>
    <div>
        <% current_user.pending.each do |pending_friend| %>
          <%= link_to profile_path(pending_friend), data: { turbo_frame: "_top" } do %>    
              <div class="flex p-4 m-4 rounded-md shadow-md hover:shadow-xl justify-between">
                <div class=flex>
                <%= image_tag pending_friend.avatar_thumbnail || "avatar.svg",
              class: "w-12 h-12 rounded-full shrink-0" %>
                
                  <div class="m-2 flex flex-col w-full">
                    <div class="font-bold text-s"><%= pending_friend.name %></div>
                    <div class="text-xs font-thin">"<%= pending_friend.bio %>"</div>
                  </div>
                  </div>
              
          <% end %>
          <div>
                <%= button_to "accept", 
                accept_userpage_profile_path(id: pending_friend.id), 
                method: :patch, data: { turbo_frame: "user-#{current_user.id}-friends" },
                                class: "m-1
                                        w-12
                                        h-6
                                        rounded-lg
                                        text-xs
                                        bg-(--color-accent) 
                                        hover:bg-(--color-primary)
                                        cursor-pointer" %>
                <%= button_to "delete", 
                delete_userpage_profile_path(id: pending_friend.id), 
                method: :delete, data: { turbo_frame: "user-#{current_user.id}-friends" },
                                class: "m-1
                                        w-12
                                        h-6
                                        rounded-lg
                                        text-xs
                                        bg-(--color-accent) 
                                        hover:bg-(--color-primary)
                                        cursor-pointer"  %>
          </div>
          </div>
        <% end %>
    <% else %>
    <div class="text-xs font-thin p-4">no requests</div>
    <% end %>
</div>

