<div class="flex flex-col space-y-6">
  <%# profile info card %>
  <div class="flex flex-row">
    <div>

    <%= image_tag current_user.avatar_thumbnail || "avatar.svg",
              class: "w-12 h-12 rounded-full shrink-0" %>
    </div>
    <div class="">
      <div class="text-xl font-semibold">
      <%= current_user.name %>
      </div>
    </div>
    
    </div>
    <span class="font-semibold text-lg p-5">Edit User Info</span>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true, maxlength: 20, class: "w-3xs outline outline-(--color-text)/50 outline-offset-3 focus:outline-(--color-primary) rounded-sm" %>
</div>

<div class="py-4">
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "w-3xs outline outline-(--color-text)/50 outline-offset-3 focus:outline-(--color-primary) rounded-sm"  %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "w-3xs outline outline-(--color-text)/50 outline-offset-3 focus:outline-(--color-primary) rounded-sm" %>
  </div>
</div>
  <div class="py-4">
  <div> Upload Avatar Image <i>(jpg, minimum size 50x50)</i></div>
  <div class="input-field">
    <%= f.file_field :image, class: "block w-full text-sm
            file:mr-4 file:py-2 file:px-4
            file:rounded-full file:border-0
            file:text-sm file:font-semibold
            file:bg-(--color-accent)
            file:hover:bg-(--color-primary)
            cursor-pointer"  %>
  </div>
  </div>


  <div class="field py-4">
    <%= f.label :bio %><br>
    <%= f.text_area :bio, autocomplete: "bio", maxlength: 200, class: "block rounded-md px-3 py-2 mt-2 w-full outline outline-(--color-text)/50 outline-offset-3 focus:outline-(--color-primary)" %>
  </div>
<div class="field py-4">
    <%= f.label :current_password %> to confirm your changes<br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "w-3xs outline outline-(--color-text)/50 outline-offset-3 focus:outline-(--color-primary) rounded-sm" %>
  </div>
  <div class="flex">
  <div class="actions p-4">
    <%= f.submit "Update",
          class: "inline-flex items-center justify-center
              w-32 h-10
              rounded-full
              text-sm font-semibold
              bg-(--color-accent)
              hover:bg-(--color-primary)
              cursor-pointer" %>
  </div>
<% end %>
<div class="flex flex-col p-4">


<div class="p-1"><%= link_to "Cancel", :back,
                    class: "inline-flex items-center justify-center
              w-40 h-10
              rounded-full
              text-sm font-semibold
              bg-(--color-accent)
              hover:bg-(--color-primary)
              cursor-pointer"%></div>
<div class="p-1"><%= button_to "Delete my account",
          registration_path(resource_name),
          data: { confirm: "Are you sure?",
          turbo_confirm: "Are you sure?" },
          method: :delete,
          class: "inline-flex items-center justify-center
              w-40 h-10
              rounded-full
              text-sm font-semibold
              bg-(--color-accent)
              hover:bg-red-500
              cursor-pointer"  %></div>
</div>
</div>
</div>
