<%= turbo_frame_tag dom_id(@comment) do%>

  <%= form_with(model: [ @comment.post, @comment ], class: "contents") do |form| %>

    <div class="my-5">
      <%= form.text_area :content, rows: 4, class: 
        ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", 
        {"border-gray-400 focus:outline-blue-600": @comment.errors[:content].none?, 
        "border-red-400 focus:outline-red-600": @comment.errors[:content].any?}] %>
    </div>
<div class="flex">
    <div class="inline">
      <%= form.submit class: "m-1
                            w-28
                            h-9
                            rounded-full
                            font-semibold
                            text-xs
                            bg-(--color-accent) 
                            hover:bg-(--color-primary)
                            cursor-pointer" %>
    </div>
    <%= link_to "cancel",
                post_path(@post),
                data: { turbo_frame: "_top" },
                class: "m-1
                        w-12
                        h-8 
                        flex
                        items-center
                        justify-center
                        rounded-full
                        font-semibold
                        text-xs
                        bg-(--color-accent) 
                        hover:bg-(--color-primary)
                        cursor-pointer" %>
    </div>
  <% end %>
<% end %>
