<div>
    <div>
    <h1 class="font-bold text-4xl">ODINBOOK</h1>
    </div>
    <br>
    <div>[list of posts here]</div>
</div>

<div>
    <br>
    <div><h3>global users</h3></div>
    <br>
    <div>
        <% @users.each do |u| %>
        <%= link_to "#{u.email}", profile_path(u) %>
        <br>
        <% end %>
    </div>
</div>

<div>
    <br>
    <div><h3>global pending connections</h3></div>
    <br>
    <div>
        <% @connections.each do |c| %>
            <% if c.accepted == false %>
                Sender:
                <%= link_to "#{c.follower.email}", profile_path(c) %>
                Accepter:
                <%= link_to "#{c.followee.email}", profile_path(c) %>
                <br>
                <% end %>
        <% end %>
    </div>
</div>
<div>
    <br>
    <div><h3>global accepted connections</h3></div>
    <br>
    <div>
        <% @connections.each do |c| %>
            <% if c.accepted == true %>
                sender:
                <%= link_to "#{c.follower.email}", profile_path(c) %>
                accepter:
                <%= link_to "#{c.followee.email}", profile_path(c) %>
                <br>
                <% end %>
        <% end %>
    </div>
</div>