<% @posts = Post.all %>
<% @posts.each do |post| %>
<div class="m-4">
    <div class="flex flex-col pl-4 sm:w-auto">
        <div class="flex flex-row place-content-between items-end">
            <div class="flex flex-row items-end">
            <div>
           <%= render "posts/post", post: post %>
        <div>
            <%= render "comments/comment_form", post: post, comment: Comment.new %>
           
        </div>
        <div>
             <% @post.comments.each do |comment| %>
             <div>
            <%= render "comments/comment", comment: comment%>
            </div>
            <% end %>
        </div>
    </div>
    <% if @post.user == current_user %>
    <div class="row">
        <div><%= link_to "Edit", edit_post_path(post), class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %></div>
        <div><%= button_to "Destroy", post, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %></div>
        <%end%>
    </div>
</div>
<% end %>