

<div class="post flex bg-(--color-background) rounded-md shadow-xl sticky top-0 w-full max-w-200 mx-auto m-2 p-8">
  <div class="shrink-0 p-2">
  <% if current_user.image.attached? %>
  <%= image_tag current_user.image.variant(resize_to_fill: [50, 50]).processed, class: "rounded-full" %>
  <% else %>
  <%= image_tag("Avatar-Accent.svg") %>
  <% end %>

  </div>


  <%= form_with(model: post, id: "post_form", class: "contents") do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul class="list-disc ml-6">
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
        <div class="w-full">
    <div data-controller="charlimit" 
        data-charlimit-number-value="400">


      <div>
      <%= form.textarea :text, 
                        maxlength: 400, 
                        rows: 4, 
                        placeholder: "Post Something!", 
                        data: {
                            action: "input->charlimit#update",
                            charlimit_target: "input"
                        },
                        class: "block shadow-sm rounded-md border px-3 py-2 mt-2 w-full focus:outline-(--color-primary)"%>
    </div>

    <div class="text-sm text-(--color-text)/50">
      <span data-charlimit-target="output"></span> characters remaining
    </div>
    
    <div>
    </div>
    <div class="flex justify-end">
      <%= form.submit class: "m-1
                            w-25
                            h-9
                            rounded-lg 
                            font-semibold
                            text-s
                            bg-(--color-accent) 
                            hover:bg-(--color-primary)
                            cursor-pointer" %>
    </div>
  <% end %>
</div>
</div>