<%# POST view, with comments %>
<div class="flex flex-col pl-4 sm:w-auto m-4">
    <div>
        <div class="flex flex-col">
            <div class="flex flex-row items-end justify-between">
                <div>
                    <%= link_to profile_path(@post.user) do %>
                        <% if @post.user.image.attached? %>    
                            <%= image_tag @post.user.image.variant(resize_to_fill: [50, 50]).processed, class: "rounded-full" %>
                        <% else %>
                            [img]
                        <% end %>
                        <div class="font-bold">
                            <%= @post.user.email %>
                        </div>
                    <% end %>
                </div>
                <div class="text-xs font-thin text-black">
                    <%= @post.updated_at.strftime("%B %d, %Y") %>
                </div>
            </div>
                <div class="m-4">
                    <%= @post.text %>
                </div>
            <%= render "posts/if_user", post: @post %>
    </div>

<%# comments %>
            <div>
                <% @post.comments.each do |comment| %>
                <div>
                <%= render "comments/comment", comment: comment%>
                </div>
                <% end %>
            

<%# comment form %>
            <div>
            <%= render "comments/comment_form", post: @post, comment: Comment.new %>
            </div>
            </div>
    </div>
</div>
