<div class="m-4">
    <div class="flex flex-col pl-4 sm:w-auto">
        <div class="flex flex-row place-content-between items-end">
            <div class="flex flex-row items-end">
                <div>
                    <%= link_to profile_path(@post.user) do %>
                        <% if @post.user.image.attached? %>    
                            <%= image_tag @post.user.image.variant(resize_to_fill: [50, 50]).processed, class: "rounded-full" %>
                        <% else %>
                            [img]
                        <% end %>
                        <div class="font-bold">
                            <%= @post.user.email %>
                        </div>
                    <% end %>
                </div>
                <div class="text-xs font-thin text-black">
                    <%= @post.updated_at.strftime("%B %d, %Y") %>
                </div>
            </div>
                <div class="m-4">
                    <%= @post.text %>
                </div>
            <div class="row">
            <% if @post.user == current_user %>
                <div>
                    <%= link_to "Edit", 
                    edit_post_path(@post), 
                    class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
                </div>
                <div>
                    <%= button_to "Delete", 
                    @post, 
                    method: :delete, 
                    class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", 
                    data: { turbo_confirm: "Are you sure?" } %>
                </div>
            <%end%>
        </div>
    </div>
            <div>
                <%= render "comments/comment_form", post: @post, comment: Comment.new %>
            
            </div>
            <div>
                <% @post.comments.each do |comment| %>
                <div>
                <%= render "comments/comment", comment: comment%>
                </div>
                <% end %>
            </div>
    </div>
</div>
