<div>
  <div class="flex items-center p-4">
    <div>
    <% if user.image.attached? %>
    <%#= image_tag(user.image) %>
    <%= image_tag user.image.variant(resize_to_limit: [100, 100]).processed, class: "rounded-full mb-4" %>
    <% else %>
    [img]
    <% end %>
    </div>
    <div class="">
      <div class="text-xl font-semibold text-black px-4">
      <%= user.email %>
      </div>
      <div class="text-xs font-thin text-black px-4">
      <% if user.bio? %>
      "<%= user.bio%>"
      <% else %>
      [bio]
      <% end %>
      </div>
    </div>
  </div>
  
 
</div>

<turbo-frame id="user-<%= user.id %>-follow-button">
  <%= render "profile/follow_button", user: user %>
</turbo-frame>


<div>
  <div>
    <%= render "profile/follower_count", user: user %>
  </div>
  <div>
    <turbo-frame id="user-<%= user.id %>-friends-list">
      <%= render "profile/friends_list", user: user %>
    </turbo-frame>
  </div>
</div>

<div>
    <%= "#{user.email}'s Posts" %>
    <% @posts = current_user.posts.all %>
        <ul>
            <% @posts.each do |post| %>
            <li>
                <div><%= post.text %></div>
                <div><%= post.updated_at.strftime("%B %d, %Y") %></div>
            </li>
            <% end %>    
        </ul>
</div>
</div>
