<div>
    <%= user.email %>
</div>
<div>
    <%= render "profile/follower_count", user: user%>
    <%= user.followees.count %> following 
    <p>
    <% if user == current_user %>
        <%= link_to "Edit profile", edit_user_registration_path %>
    <% elsif current_user %>
        <%= render "profile/follow_button", user: user %>
    <% end %>
</div>
<div>
    <% if user == current_user %>
        <%= render "am_following", user: user %>
        <%= render "pending", user: user %>
    <% end %>

<div>
<br>
<%# <div><h3>followers:</h3></div>
<br>
<div> %>
    <%# <% user.followers.each do |u| %>
        <%#= "#{u.email}" %> 
        <br>
    <%# end %>
</div>
<br>
