<div>
  <div>
    [Profile Pic]
  </div>
  <%= user.email %>
</div>

<div>
"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
</div>


<turbo-frame id="user-<%= user.id %>-follow-button">
  <%= render "profile/follow_button", user: user %>
</turbo-frame>


<div>
  <div>
    <%= render "profile/follower_count", user: user %>
    <%# = user.followees.count following  %>
  </div>
    <turbo-frame id="user-<%= user.id %>-friends-list">
      <%= render "profile/friends_list", user: user %>
    </turbo-frame>
</div>
