<div class="text-xl font-semibold text-gray-800 mb-4" >
  <div>
    <% if user.image.attached? %>
    <%= image_tag(user.image)%>
    <% else %>
    [img]
    <% end %>
  </div>
  <div>
    <% if user.bio? %>
    <%= user.bio%>
    <% else %>
    [bio]
    <% end %>
  </div>
  <%= user.email %>
</div>

<turbo-frame id="user-<%= user.id %>-follow-button">
  <%= render "profile/follow_button", user: user %>
</turbo-frame>


<div>
  <div>
    <%= render "profile/follower_count", user: user %>
  </div>
  <div>
    <turbo-frame id="user-<%= user.id %>-friends-list">
      <%= render "profile/friends_list", user: user %>
    </turbo-frame>
  </div>
</div>
