<div>
  <div class="flex items-center p-4">
    <div>
    <% if user.image.attached? %>
    <%#= image_tag(user.image) %>
    <%= image_tag user.image.variant(resize_to_fill: [100, 100]).processed, class: "rounded-full mb-4" %>
    <% else %>
    [img]
    <% end %>
    </div>
    <div class="">
      <div class="text-xl font-semibold text-black px-4">
      <%= user.email %>
      </div>
      <div class="text-xs font-thin text-black px-4">
      <% if user.bio? %>
      "<%= user.bio%>"
      <% else %>
      [bio]
      <% end %>
      </div>
    </div>
  </div>
  
 
</div>

<turbo-frame id="user-<%= user.id %>-follow-button">
  <%= render "profile/follow_button", user: user %>
</turbo-frame>


<div>
  <div>
    <%= render "profile/follower_count", user: user %>
  </div>
  <div>
    <turbo-frame id="user-<%= user.id %>-friends-list">
      <%= render "profile/friends_list", user: user %>
    </turbo-frame>
  </div>
</div>

<div>
    <%= "#{user.email}'s Posts" %>
    <% @posts = user.posts.all %>
        <ul>
          <% @posts.each do |post| %>
            <li>
              <div>
                <%= render "posts/post_abbrev", post: post %>
                <% if  post.user == current_user %>
                  <div class="flex flex-row">
                    <%= link_to "edit", edit_post_path(post), 
                      class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
                    <%= button_to "delete", post, method: :delete, 
                      class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", 
                      data: { turbo_confirm: "Are you sure?" } %>
                    <%end%>
                  </div>
                </div>
            </li>
          <%end%>
        </ul>        
</div>

