<div>
    <%= user.email %>
</div>
<%= render "profile/follower_count", user: user%>
<%= user.followed_users.count %> following 
<p>
<% if user == current_user %>
    <%= link_to "Edit profile", edit_user_registration_path %>
<% elsif current_user %>
    <%= render "profile/follow_button", user: user %>
<% end %>
</p>