<div class="fixed min-h-screen flex flex-col w-45 bg-(--color-secondary)">
    <div class="">
        <div class="flex justify-between">
            <% if user_signed_in? %>
            <%# ------ user info ------%>
                <%= link_to profile_path(current_user) do %>
                    <div class="p-4 w-fit hover:bg-(--color-primary) rounded-full">
                        <div>
                            <% if current_user.image.attached? %>
                            <%= image_tag current_user.image.variant(resize_to_fill: [70, 70]).processed, class: "rounded-full" %>
                            <% else %>
                            <%= image_tag("Avatar-Accent.svg") %>
                            <% end %>
                            <div class=" text-xl font-semibold text-center">
                                <%= current_user.name %>
                            </div>
                        </div>
                        
                    </div>
                <% end %>
            <%# ------ /user info ------%>
            <div class="flex flex-col w-full p-4">
            <%# ------ login/logout ------%>
                <% if user_signed_in?%>
                        <%= link_to "Logout", 
                                    destroy_user_session_path, 
                                    data: { turbo_method: :delete },
                                    class: "m-1
                                            w-12
                                            h-6 
                                            flex
                                            items-center
                                            justify-center
                                            rounded-lg 
                                            font-semibold
                                            text-xs
                                            bg-(--color-accent) 
                                            hover:bg-(--color-primary)
                                            cursor-pointer" %>
                <% else %>
                        <%= link_to "Sign In", 
                                    new_user_session_path,
                                    class: "m-1
                                            w-12
                                            h-6 
                                            flex
                                            items-center
                                            justify-center
                                            rounded-lg 
                                            font-semibold
                                            text-xs
                                            bg-(--color-accent) 
                                            hover:bg-(--color-primary)
                                            cursor-pointer" %>

                <% end %>
            <%# ------ /login/logout ------%>
            <%# ------ darkmode toggle ------%>
                <div data-controller="dark-mode">
                    <button 
                        data-action="click->dark-mode#toggle"
                        data-dark-mode-target="button" 
                        class="m-1
                            w-12
                            h-6
                            rounded-lg 
                            font-semibold
                            text-xs
                            bg-(--color-accent) 
                            hover:bg-(--color-primary)
                            cursor-pointer">
                    </button>
                </div>
            <%# ------ /darkmode toggle ------%>
            </div>

        </div>


        <div class="flex flex-col">
            <%# ------ buttons ------%> 
            
                <%= link_to "Home", root_path,
                                    class: "btn_side" %>

                <%= link_to "Feed", feed_path,
                                    class: "btn_side" %>

                <%= link_to "Friends", friends_profile_path(current_user),
                                    class: "btn_side" %>
            <%# ------/ buttons ------%> 
 
            
        </div>
    
        <% end %>
    </div>
    
</div>